<h1>About Bike Berlin</h1>
<!-- <p>Find me in app/views/simple_pages/about.html.erb</p> -->
<p>Berlin has great cycling infrastructure, self-sufficient neighbourhoods and, above all: it's flat! All this makes Berlin the perfect city to bike around in.</p>
