<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back to profile', @user %>
<% if signed_in? && current_user.admin? %>
 | <%= link_to 'Back to users', users_path %>
<% end %>
