<div class="container">
  <h1>Order Information</h1>
  <strong>Order ID: </strong><%= @order.id %><br>
  <strong>Product Name: </strong><%= @order.product.name %><br>
  <strong>Product Price: </strong>&euro; <%= @order.product.price %><br>
  <strong>Total Price: </strong>&euro; <%= @order.total %>
</div>
