// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*Colours*/
:root {
  --bright: #F0471A;
  --dark: #3b0c00;
  --med-dark: #bc400f;
  /* --med-dark: #73240f; */
  /* --med-light: #e18e78; */
  /* --med-light: #e38965; */
  --quite-light:#ffdfd1;
  --med-light: #fa966b;
  /* --light: #ffe6df; */
  --light: #fffdfc;
}

body {
  padding-top: 50px; //because of navbar

}

h1 {
text-align: center;
color: var(--bright);
padding-bottom: 40px;
}

h2 {
text-align: center;
color: var(--med-light);
padding-bottom: 40px;
}

h3 {
text-align: center;
color: var(--med-light);
padding-bottom: 20px;
}

strong {
color: var(--med-light);
}

p {
  padding-left: 5%;
  padding-right: 5%;
}

// Navigation bar

.navbar {
  background-color: var(--bright) !important;
}

.nav-link {
  font-family: Nunito, Helvetica, Arial, sans-serif !important;
}

.navbar-brand {
  text-transform: uppercase;
}

#search-nav .btn,
#search-nav .field{
  display: inline;
}

#search-nav{
  float:none;
}

// footer

#cr {
text-align:center;
background-color: var(--med-dark);
color: var(--light);
margin-top: 10px;
padding-top: 4px;
padding-bottom: 4px;
}

/* Image carousel */
.carousel-caption {
  font-family: Nunito, Helvetica, Arial, sans-serif;
  /* top: 0;
  bottom: auto; */
  /* text-align:right;
  left: auto;
  right: 10%; */
}

// forms

.field input,
.field textarea,
.form-group input,
.form-group textarea {
  background-color: var(--quite-light);
}

#contact_form {
 width:40%;
}

.standalone-form,
.new_user,
form  {
text-align: center;
}

.standalone-form .field,
.standalone-form .btn,
.standalone-form .links,
.new_user .field,
.new_user .btn,
.new_user .links,
form .btn
  {
  height: 100%;
  align-items: center;
  justify-content: center;
}


.field label {
  color: var(--med-dark);
}

// buttons
.btn {
  background: var(--med-dark);
  color: var(--light);
  border: var(--dark);
}

.btn:hover {
  background: var(--bright);
  color: var(--light);
  border: var(--dark);
}

#search-nav .btn:hover {
  background: var(--med-light);
  color: var(--light);
  border: var(--dark);
}

.btn input {
  background-color: inherit;
  border: none;
  color: white;
}


#product-image {
  text-align: center;
}

// New comment form on page showing product information
#comments-block {
  margin-top: 30px;
}

// image carousel
#carouselExampleIndicators {
  padding-top: 65px;
}

.d-block{
margin: auto;
}

.carousel-caption {
  bottom: 75%;
}

.carousel-caption h3 {
  color: var(--light);
}

.carousel-item{
  width: 100%;
}

.carousel-indicators li {
  background-color: var(--med-light);
}

.carousel-indicators .active{
  background-color: var(--bright);
}


.col-sm{
text-align: center;
}
